In [1]:
def my_first_function():
    return "Hello World!"
my_first_function()

'Hello World!'

In [1]:
def my_first_function(nombre, apellido):
    print("Hola "+nombre+" "+ apellido + " como le va")
    #return x
my_first_function("mario","celis")

Hola mario celis como le va

In [17]:
def my_function(*kids):
  print("The youngest child is " + kids[0])

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [18]:
# Lusta
L = [22, "True", "Una lista",[1, 2]]
L[0]

22

In [28]:
T = (22, True, "Una tupa", (1,2))
T[2]

'Una tupa'

In [31]:
D = {"Kill Bill": "Tamarino", "Amelie": "Jean-Pierre Jeunet"}
D["Kill Bill"]

'Tamarino'

In [32]:
int(4.3)

4

In [33]:
float(4)

4.0

In [34]:
str(4.3)

'4.3'

In [35]:
list((4, 5, 2))

[4, 5, 2]

In [36]:
len("key")

3

In [37]:
type(4)

int

In [41]:
map(str,[1, 2, 3, 4])

In [42]:
round(6.3243, 1)

6.3

In [44]:
range(5)

range(0, 5)

In [45]:
sum([1, 2, 3])

6

In [46]:
sorted([5, 2, 1])

[1, 2, 5]

In [50]:
Li = [5, 2, 1]
dir(Li)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [51]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [55]:
class Estudiante(object):
    def __init__(self,nombre_r, edad_r):
        self.nombre = nombre_r
        self.edad = edad_r

    def hola(self):
        return "Mi nombre es %s y tengo %i" % (self.nombre, self.edad)
    
e = Estudiante("arturo", 21)
print(e.hola())

Mi nombre es arturo y tengo 21

In [56]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
x = 0
while x < 10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [1]:
x = 3
y = 4
print(x+y)

7

In [1]:
sort_list = lambda x: x.sort()
numbers = [3, 1, 4 ,2]
sort_list(numbers)
print(numbers)

[1, 2, 3, 4]

In [1]:
def fibonacci(max):
    a, b = 0, 1
    while a < max:
        yield a
        a, b = b, a+b

In [5]:
fib1 = fibonacci(20)
fib_nums = [num for num in fib1]
double_fib_nums = [num * 2 for num in fibonacci(30)]
print(double_fib_nums)

[0, 2, 2, 4, 6, 10, 16, 26, 42]

In [19]:
def solution(statues):
    star_arr = sorted(statues)

    i = star_arr[0]
    result = list()
    while i != star_arr[-1]:
        i += 1
        if i not in star_arr:
            result.append(i)
        else:
            continue
        
    return len(result)
    

solution([6, 2, 3, 8])

3