# Proyecto pr치ctico: 치rbol de decisi칩n y random forest con scikit-learn

In [1]:
#Importamos las librerias principales
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

Utilizaremos el **Car Evaluation Data Set** de Kaggle: https://www.kaggle.com/datasets/elikplim/car-evaluation-data-set

In [4]:
#Cargamos dataset a utilizar
df_car = pd.read_csv('../data/car_evaluation.csv')

## An치lisis exploratorio de datos

In [6]:
#Visualizacion del dataframe
df_car.head(10)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc
5  vhigh   vhigh  2   2    big   low  unacc
6  vhigh   vhigh  2   2    big   med  unacc
7  vhigh   vhigh  2   2    big  high  unacc
8  vhigh   vhigh  2   4  small   low  unacc
9  vhigh   vhigh  2   4  small   med  unacc

In [7]:
#Analizamos el shape del objeto
print(df_car.shape)

(1727, 7)

In [8]:
#Como podemos observar vamos a renombrar las columnas de manera correcta
col_name = ['buying', 'maint', 'doors', 'person', 'lug_boot', 'safety', 'class']
df_car.columns = col_name

In [9]:
#Vericamos la transformacion
df_car.head(10)

  buying  maint doors person lug_boot safety  class
0  vhigh  vhigh     2      2    small    med  unacc
1  vhigh  vhigh     2      2    small   high  unacc
2  vhigh  vhigh     2      2      med    low  unacc
3  vhigh  vhigh     2      2      med    med  unacc
4  vhigh  vhigh     2      2      med   high  unacc
5  vhigh  vhigh     2      2      big    low  unacc
6  vhigh  vhigh     2      2      big    med  unacc
7  vhigh  vhigh     2      2      big   high  unacc
8  vhigh  vhigh     2      4    small    low  unacc
9  vhigh  vhigh     2      4    small    med  unacc

In [10]:
#Visualizamos los tipos de datos
df_car.dtypes

buying      object
maint       object
doors       object
person      object
lug_boot    object
safety      object
class       object
dtype: object

Primer resumen de los datos:
* Hay 7 variables en el conjunto de datos. Todas las variables son de tipo de datos categ칩ricos.
* Estos se dan por compra, mantenimiento, puertas, personas, lug_boot, seguridad y clase.
* La clase es la variable de destino o target.

In [11]:
# Exploremos un poco mas la variable target
df_car['class'].value_counts()

class
unacc    1209
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [12]:
#Verificamos valores missings
df_car.isnull().sum()

buying      0
maint       0
doors       0
person      0
lug_boot    0
safety      0
class       0
dtype: int64

## Procesamiento de datos

In [13]:
#Separamos en X e y
X = df_car.drop(['class'], axis=1)
y = df_car['class']

In [14]:
#Importamos las librerias necesarias para la creacion del modelo
from sklearn.model_selection import train_test_split

#30% para test y 70% para train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [15]:
#Veamos que obtuvimos
X_train.shape, X_test.shape

((1208, 6), (519, 6))

In [16]:
y_train.shape, y_test.shape

((1208,), (519,))

In [17]:
#Veamos que tenemos. Por ejemplo, en X_train
X_train.head()

     buying maint  doors person lug_boot safety
1177    med   med  5more      4      big   high
585    high  high      3   more    small    med
1551    low   med      3      4      med    med
727    high   med      4   more      big   high
707    high   med      4      2      big    low

In [18]:
X_train.dtypes

buying      object
maint       object
doors       object
person      object
lug_boot    object
safety      object
dtype: object

## Entrenamiento de modelo de clasificaci칩n con 치rbol de decisi칩n

In [ ]:
#Importante: todos nuestros tipos de datos son object, realizamos una transformacion

In [ ]:
#Verificamos la transformacion

In [ ]:
#Importar 치rbol de decisi칩n

#Creacion del modelo

In [ ]:
#Entrenamiento

In [ ]:
#Calculo de las predicciones en Train y Test

## Evaluaci칩n de modelo de clasificaci칩n con 치rbol de decisi칩n

In [ ]:
#Calculo de metricas 


#Calculo el accuracy en Train


#Calculo el accuracy en Test

In [ ]:
#Verificamos el feature importances

## Entrenamiento de modelo de clasificaci칩n con random forest

In [ ]:
#Importar random forest

In [ ]:
#Calculo de las predicciones en Train y Test

## Evaluaci칩n de modelo de clasificaci칩n con random forest

In [ ]:
#Calculo de metricas 


#Calculo el accuracy en Train


#Calculo el accuracy en Test


#Importante: podriamos reducir el numero de estimadores para disminuir el sobreajuste del modelo.

In [ ]:
# Visualizacion de las feature importantes

In [ ]:
#Grafico de barras

In [ ]:
# Matriz de confusion del RF

In [ ]:
#RF