In [2]:
!pip install sqlalchemy psycopg2-binary==2.8.6 boto3 redshift_connector python-dotenv
import pandas as pd
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (2.0.36)
Requirement already satisfied: psycopg2-binary==2.8.6 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (2.8.6)
Requirement already satisfied: boto3 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (1.35.66)
Requirement already satisfied: redshift_connector in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (2.1.4)
Requirement already satisfied: python-dotenv in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (1.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: botocore<1.36.0,>=1.35.66 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from boto3) (1.35.66)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from boto3) (0.10.4)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from redshift_connector) (1.4.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from redshift_connector) (2024.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from redshift_connector) (4.12.3)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from redshift_connector) (2.32.3)
Requirement already satisfied: lxml>=4.6.5 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from redshift_connector) (5.3.0)
Requirement already satisfied: packaging in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from redshift_connector) (24.1)
Requirement already satisfied: setuptools in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from redshift_connector) (75.1.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.5)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from botocore<1.36.0,>=1.35.66->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from botocore<1.36.0,>=1.35.66->boto3) (1.26.20)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2024.8.30)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.36.0,>=1.35.66->boto3) (1.16.0)

In [4]:
engine = create_engine("postgresql+psycopg2://postgres:F22Raptor@localhost:5432/postgres")

df_trades = pd.read_sql("SELECT * FROM trades", engine)

In [5]:
df_countries = pd.read_json("C:/Users/celio/OneDrive/Escritorio/programación/platzi/CursodeFundamentosdeETLconPythonyPentaho/couse_file/country_data.json")

In [6]:
df_codes = pd.read_csv("C:/Users/celio/OneDrive/Escritorio/programación/platzi/CursodeFundamentosdeETLconPythonyPentaho/couse_file/hs_codes.csv")

In [7]:
df_trades.head()

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items

In [8]:
df_countries.head()

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0

In [9]:
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN

In [10]:
df_parents = df_codes[df_codes['Level'] == 2].copy()

In [11]:
df_parents

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
52,1654607,2,20021000090,1.001100e+10,2,I,CHAPTER 2 - MEAT AND EDIBLE MEAT OFFAL,MEAT AND EDIBLE MEAT OFFAL
140,1654695,2,30021000090,1.001100e+10,3,I,"CHAPTER 3 - FISH AND CRUSTACEANS, MOLLUSCS AND...","FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT..."
416,1654971,2,40021000090,1.001100e+10,4,I,CHAPTER 4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463,1655018,2,50021000090,1.001100e+10,5,I,"CHAPTER 5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...","PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI..."
...,...,...,...,...,...,...,...,...
7238,1661793,2,930021000090,9.300110e+11,93,XIX,CHAPTER 93 - ARMS AND AMMUNITION; PARTS AND AC...,ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
7264,1661819,2,940021000090,9.400110e+11,94,XX,"CHAPTER 94 - FURNITURE; BEDDING, MATTRESSES, M...","FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPO..."
7319,1661874,2,950021000090,9.400110e+11,95,XX,"CHAPTER 95 - TOYS, GAMES AND SPORTS REQUISITES...","TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A..."
7362,1661917,2,960021000090,9.400110e+11,96,XX,CHAPTER 96 - MISCELLANEOUS MANUFACTURED ARTICLES,MISCELLANEOUS MANUFACTURED ARTICLES
7428,1661983,2,970021000090,9.700110e+11,97,XXI,"CHAPTER 97 - WORKS OF ART, COLLECTORS' PIECES ...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"


## Transform

### Clean code

In [12]:
df_codes = df_codes[df_codes['Code_comm'].notnull()]

In [13]:
def clean_code(text):
    text = str(text)
    parent_code = None
    if len(text) == 11:
        code = text[:5]
        parent_code = text[:1]
    else: 
        code = text[:6]
        parent_code = text[:2]
    try:
        parent = df_parents[df_parents['Code_comm'] == parent_code]['Description'].values[0]
    except:
        parent = None
        
    return (code, parent)

In [14]:
df_codes[['clean_code', 'parent_description']] = df_codes.apply(
    lambda x: clean_code(x['Code']), axis=1, result_type='expand'
)

In [15]:
df_codes = df_codes[df_codes['clean_code'].notnull()][['clean_code', 'Description', 'parent_description']]

In [16]:
df_codes['id_code'] = df_codes.index + 1

In [17]:
df_codes['clean_code'] = df_codes['clean_code'].astype('int64')

In [18]:
df_codes

,clean_code,Description,parent_description,id_code
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS,2
2,10021,LIVE ANIMALS,LIVE ANIMALS,3
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS,4
5,10121,Pure-bred breeding horses,LIVE ANIMALS,6
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS,7
...,...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7433
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7434
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7435
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7436
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7437

### Clear Countries

In [19]:
df_countries=df_countries[['alpha-3', 'country', 'region', 'sub-region']]

In [20]:
df_countries=df_countries[df_countries['alpha-3'].notnull()]

In [21]:
df_countries['id_country'] = df_countries.index + 1

In [22]:
df_countries

,alpha-3,country,region,sub-region,id_country
0,AFG,Afghanistan,Asia,Southern Asia,1
1,ALB,Albania,Europe,Southern Europe,2
2,DZA,Algeria,Africa,Northern Africa,3
3,AND,Andorra,Europe,Southern Europe,4
4,AGO,Angola,Africa,Sub-Saharan Africa,5
...,...,...,...,...,...
268,UMI,United States Minor Outlying Islands,Oceania,Micronesia,269
269,VGB,Virgin Islands (British),Americas,Latin America and the Caribbean,270
270,VIR,Virgin Islands (U.S.),Americas,Latin America and the Caribbean,271
271,WLF,Wallis and Futuna,Oceania,Polynesia,272
272,ESH,Western Sahara,Africa,Northern Africa,273

### Merge

In [23]:
df_trades_clean = df_trades.merge(df_codes[['clean_code', 'id_code']], how='left', left_on='comm_code', right_on='clean_code')

In [24]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933
...,...,...,...,...,...,...,...,...,...,...
1319630,COL,2013,140190,Export,22510.0,981.0,981.0,Weight in kilograms,140190,917
1319631,COL,2013,140420,Export,281745.0,845857.0,845857.0,Weight in kilograms,140420,919
1319632,COL,2013,140490,Import,1021506.0,701002.0,701002.0,Weight in kilograms,140490,920
1319633,COL,2013,140490,Export,159347.0,66569.0,66569.0,Weight in kilograms,140490,920
1319634,COL,2012,140110,Import,26541.0,1270.0,1270.0,Weight in kilograms,140110,915

In [25]:
df_trades_clean = df_trades_clean.merge(df_countries[['alpha-3', 'id_country']], how='left', left_on='country_code', right_on='alpha-3')

In [26]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
1319630,COL,2013,140190,Export,22510.0,981.0,981.0,Weight in kilograms,140190,917,COL,37
1319631,COL,2013,140420,Export,281745.0,845857.0,845857.0,Weight in kilograms,140420,919,COL,37
1319632,COL,2013,140490,Import,1021506.0,701002.0,701002.0,Weight in kilograms,140490,920,COL,37
1319633,COL,2013,140490,Export,159347.0,66569.0,66569.0,Weight in kilograms,140490,920,COL,37
1319634,COL,2012,140110,Import,26541.0,1270.0,1270.0,Weight in kilograms,140110,915,COL,37

## Clean trades

In [29]:
def create_dimension(data, id_name):
    list_keys = []
    value = 1
    for _ in data:
        list_keys.append(value)
        value = value + 1
    return pd.DataFrame({id_name: list_keys, 'values': data})

In [30]:
df_quantity = create_dimension(df_trades_clean['quantity_name'].unique(), 'id_quantity')

df_flow = create_dimension(df_trades_clean['flow'].unique(), 'id_flow')

df_year = create_dimension(df_trades_clean['year'].unique(), 'id_year')

In [31]:
df_quantity

   id_quantity               values
0            1      Number of items
1            2  Weight in kilograms
2            3          No Quantity
3            4     Volume in litres
4            5      Number of pairs
5            6   Number of packages
6            7     Length in metres

In [32]:
df_flow

   id_flow     values
0        1     Import
1        2     Export
2        3  Re-Export
3        4  Re-Import

In [33]:
df_year

    id_year  values
0         1    1998
1         2    1997
2         3    1996
3         4    1995
4         5    1994
5         6    2016
6         7    2015
7         8    2014
8         9    2002
9        10    2000
10       11    2013
11       12    2012
12       13    2011
13       14    2010
14       15    2009
15       16    2008
16       17    2007
17       18    2006
18       19    2005
19       20    2004
20       21    2003
21       22    2001
22       23    1999
23       24    1993
24       25    1992
25       26    1991
26       27    1990
27       28    1989
28       29    1988

In [34]:
df_trades_clean = df_trades_clean.merge(df_quantity, how='left', left_on='quantity_name', right_on='values')

df_trades_clean = df_trades_clean.merge(df_flow, how='left', left_on='flow', right_on='values')

df_trades_clean = df_trades_clean.merge(df_year, how='left', left_on='year', right_on='values')

In [35]:
df_trades_clean['id_trades'] = df_trades_clean.index + 1

In [36]:
df_trades_final = df_trades_clean[['id_trades', 'trade_usd', 'kg', 'id_code', 'id_country', 'id_quantity', 'id_flow', 'id_year']].copy()

In [37]:
df_trades_final

,id_trades,trade_usd,kg,id_code,id_country,id_quantity,id_flow,id_year
0,1,1431426.0,0.0,6929,155,1,1,1
1,2,31406.0,0.0,6931,155,1,1,1
2,3,950.0,0.0,6931,155,1,2,1
3,4,950.0,0.0,6931,155,1,3,1
4,5,18251.0,0.0,6933,155,1,1,1
...,...,...,...,...,...,...,...,...
1319630,1319631,22510.0,981.0,917,37,2,2,11
1319631,1319632,281745.0,845857.0,919,37,2,2,11
1319632,1319633,1021506.0,701002.0,920,37,2,1,11
1319633,1319634,159347.0,66569.0,920,37,2,2,11
1319634,1319635,26541.0,1270.0,915,37,2,1,12

In [38]:
df_countries = df_countries[['id_country', 'alpha-3', 'country', 'region', 'sub-region']]

In [39]:
df_codes = df_codes[['id_code', 'clean_code', 'Description', 'parent_description']]

## load

In [137]:
df_trades_final.to_csv('target/trades.csv', index=False, sep='|')
df_countries.to_csv('target/countries.csv', index=False, sep='|')
df_codes.to_csv('target/codes.csv', index=False, sep='|')
df_quantity.to_csv('target/quantity.csv', index=False, sep='|')
df_flow.to_csv('target/flow.csv', index=False, sep='|')
df_year.to_csv('target/years.csv', index=False, sep='|')

In [201]:
import os
import boto3
import redshift_connector
from dotenv import load_dotenv

load_dotenv()

client = boto3.client(
    's3',
    aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY')
)

conn = redshift_connector.connect(
    host = os.getenv('REDSHIFT_HOST'),
    database = os.getenv('REDSHIFT_DATABASE'),
    port=int(os.getenv('REDSHIFT_PORT')),
    user=os.getenv('REDSHIFT_USER'),
    password=os.getenv('REDSHIFT_PASSWORD')
)

cursor = conn.cursor()

In [178]:
conn.close()

In [209]:
def load_file(file_name):
    table_name = file_name.split('.')[0]
    client.upload_file(
        Filename='target/{}'.format(file_name),
        Bucket='platzi-etl',
        key = 'course_etl_target/{}'.format(file_name),
    )
    sentence = '''copy etl_test.{} from 's3://platzi-etl/{}' credentials 'aws_access_key_id={};aws_secret_access_key={}' csv delimiter '|' region 'us-west-2' ignoreheader 1'''.format(table_name, file_name, s.getenv('AWS_ACCESS_KEY_ID'), os.getenv('AWS_SECRET_ACCESS_KEY'))
    try:
        cursor.execute(sentence)
        print('OK en la tabla' + table_name)
    except:
        print('Error en la tabla' + table_name)

In [210]:
load_file('year.csv')

TypeError: upload_file() got an unexpected keyword argument 'key'

In [194]:
import boto3
import os

def load_file(file_name):
    table_name = file_name.split('.')[0]

    # Crear cliente S3
    s3_client = boto3.client('s3')

    # Subir el archivo a la nueva ruta en el bucket 'mario-unico-bucket-curso-platzi'
    try:
        s3_client.upload_file(
            'target/{}'.format(file_name),
            'mario-unico-bucket-curso-platzi',
            'course_etl_target/{}'.format(file_name)
        )
        print(f"Archivo {file_name} subido correctamente a S3.")
    except Exception as e:
        print(f"Error al subir el archivo: {e}")
        return

   # Generar sentencia COPY para cargar el archivo desde S3 a la base de datos
    sentence = '''copy etl_test.{} from 's3://mario-unico-bucket-curso-platzi/course_etl_target/{}' credentials 'aws_access_key_id={}' 'aws_secret_access_key={}' csv delimiter '|' region 'us-west-2' ignoreheader 1 '''.format(
        table_name, file_name, os.getenv('AWS_ACCESS_KEY_ID'), os.getenv('AWS_SECRET_ACCESS_KEY')
    )

    # Ejecutar la sentencia en la base de datos
    try:
        cursor.execute(sentence)
        print(f"OK en la tabla {table_name}")
    except Exception as e:
        print(f"Error en la tabla {table_name}: {e}")

In [195]:
load_file('years.csv')

Archivo years.csv subido correctamente a S3.
error en la tabla years

In [152]:
load_file('trades.csv')
load_file('quantity.csv')
load_file('codes.csv')
load_file('flow.csv')
load_file('countries.csv')

Archivo trades.csv subido correctamente a S3.
Error en la tabla trades: name 'cursor' is not defined
Archivo quantity.csv subido correctamente a S3.
Error en la tabla quantity: name 'cursor' is not defined
Archivo codes.csv subido correctamente a S3.
Error en la tabla codes: name 'cursor' is not defined
Archivo flow.csv subido correctamente a S3.
Error en la tabla flow: name 'cursor' is not defined
Archivo countries.csv subido correctamente a S3.
Error en la tabla countries: name 'cursor' is not defined

In [ ]:
conn.commit()

In [ ]:
conn.close()