In [3]:
!pip install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [9]:
import sqlite3
conexion = sqlite3.connect('nba_salary.sqlite')
cursor = conexion.cursor()
cursor.execute('SELECT * FROM users LIMIT 5')
rows = cursor.fetchall()
print(rows)
conexion.close()

OperationalError: no such table: users

In [13]:
from sqlalchemy import create_engine, MataData, Table

engine = create_engine('sqlite://database.sqlite')
connection = engine.connect()

result = connection.execute('SELECT * FROM users LIMIT 5')
for row in result:
    print(row)

ImportError: cannot import name 'MataData' from 'sqlalchemy' (C:\Users\celio\anaconda3\Lib\site-packages\sqlalchemy\__init__.py)

In [14]:
import pandas as pd

df = pd.read_sql('SELECT * FROM users LIMIT 10', conexion)
print(df.head())

df = pd.read_sql('SELECT * FROM users LIMIT 10', engine)
print(df.head())

DatabaseError: Execution failed on sql 'SELECT * FROM users LIMIT 10': no such table: users