In [1]:
import pandas as pd

data = {
    'id_venta': [1, 2, 3, 4, 5, 6],
    'producto': ['Camisa', 'Pantalón', 'Zapatos', 'Camisa', 'Pantalón', 'Zapatos'],
    'cantidad': [2, 3, 1, 2, 0, 5],
    'categoria': ['Ropa', 'Ropa', 'Calzado', 'Ropa', 'Ropa', 'Calzado'],
    'fecha': ['2024-05-01', '2024-05-03', '2024-05-02', '2024-05-01', '2024-05-02', '2024-05-05']
}

df = pd.DataFrame(data)
ropa = df[df['categoria'] == 'Ropa']
calzado = df[df['categoria'] == 'Calzado']

print("Partición Ropa:\n", ropa)
print("Partición Calzado:\n", calzado)

Partición Ropa:
    id_venta  producto  cantidad categoria       fecha
0         1    Camisa         2      Ropa  2024-05-01
1         2  Pantalón         3      Ropa  2024-05-03
3         4    Camisa         2      Ropa  2024-05-01
4         5  Pantalón         0      Ropa  2024-05-02
Partición Calzado:
    id_venta producto  cantidad categoria       fecha
2         3  Zapatos         1   Calzado  2024-05-02
5         6  Zapatos         5   Calzado  2024-05-05

In [2]:
df['mes'] = pd.to_datetime(df['fecha']).dt.month
particiones_por_mes = {mes: datos for mes, datos in df.groupby('mes')}

for mes, datos in particiones_por_mes.items():
    print(f"Mes {mes}:\n{datos}\n")

Mes 5:
   id_venta  producto  cantidad categoria       fecha  mes
0         1    Camisa         2      Ropa  2024-05-01    5
1         2  Pantalón         3      Ropa  2024-05-03    5
2         3   Zapatos         1   Calzado  2024-05-02    5
3         4    Camisa         2      Ropa  2024-05-01    5
4         5  Pantalón         0      Ropa  2024-05-02    5
5         6   Zapatos         5   Calzado  2024-05-05    5