In [13]:
!pip install sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (from sqlalchemy) (3.1.1)

In [26]:
!pip install --upgrade pip setuptools wheel
!pip install psycopg2

Requirement already satisfied: pip in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (24.2)
Collecting pip
  Using cached pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: setuptools in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (75.1.0)
Collecting setuptools
  Using cached setuptools-75.3.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: wheel in c:\users\celio\anaconda3\envs\fundamentos-etl\lib\site-packages (0.44.0)
Collecting wheel
  Using cached wheel-0.45.0-py3-none-any.whl.metadata (2.3 kB)
Using cached pip-24.3.1-py3-none-any.whl (1.8 MB)
Using cached setuptools-75.3.0-py3-none-any.whl (1.3 MB)
Using cached wheel-0.45.0-py3-none-any.whl (72 kB)

ERROR: To modify pip, please run the following command:
C:\Users\celio\anaconda3\envs\fundamentos-etl\python.exe -m pip install --upgrade pip setuptools wheel

Collecting psycopg2
  Using cached psycopg2-2.9.10.tar.gz (385 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py): started
  Building wheel for psycopg2 (setup.py): finished with status 'error'
  Running setup.py clean for psycopg2
Failed to build psycopg2

  error: subprocess-exited-with-error

  python setup.py bdist_wheel did not run successfully.
  exit code: 1

  [18 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build\lib.win-amd64-cpython-38\psycopg2
  copying lib\errorcodes.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\errors.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\extensions.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\extras.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\pool.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\sql.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\tz.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\_ipaddress.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\_json.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\_range.py -> build\lib.win-amd64-cpython-38\psycopg2
  copying lib\__init__.py -> build\lib.win-amd64-cpython-38\psycopg2
  running build_ext
  building 'psycopg2._psycopg' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for psycopg2
ERROR: ERROR: Failed to build installable wheels for some pyproject.toml based projects (psycopg2)

In [27]:
engine = create_engine("postgresql+psycopg2://postgres:F22Raptor@@localhost/postgres")
df_trades = pd.read_sql("SELECT * FROM trades", engine)

ModuleNotFoundError: No module named 'psycopg2'

In [29]:
df_countries = pd.read_json("C:/Users/celio/OneDrive/Escritorio/programaci√≥n/platzi/CursodeFundamentosdeETLconPythonyPentaho/couse_file/country_data.json")

In [31]:
df_codes = pd.read_csv("C:/Users/celio/OneDrive/Escritorio/programaci√≥n/platzi/CursodeFundamentosdeETLconPythonyPentaho/couse_file/hs_codes.csv")

In [32]:
df_trades.head()

NameError: name 'df_trades' is not defined

In [33]:
df_countries.head()

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0

In [34]:
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN

In [35]:
df_parents = df_codes[df_codes['Level'] == 2].copy()

In [36]:
df_parents

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
52,1654607,2,20021000090,1.001100e+10,2,I,CHAPTER¬†2 - MEAT AND EDIBLE MEAT OFFAL,MEAT AND EDIBLE MEAT OFFAL
140,1654695,2,30021000090,1.001100e+10,3,I,"CHAPTER¬†3 - FISH AND CRUSTACEANS, MOLLUSCS AND...","FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT..."
416,1654971,2,40021000090,1.001100e+10,4,I,CHAPTER¬†4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463,1655018,2,50021000090,1.001100e+10,5,I,"CHAPTER¬†5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...","PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI..."
...,...,...,...,...,...,...,...,...
7238,1661793,2,930021000090,9.300110e+11,93,XIX,CHAPTER¬†93 - ARMS AND AMMUNITION; PARTS AND AC...,ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
7264,1661819,2,940021000090,9.400110e+11,94,XX,"CHAPTER¬†94 - FURNITURE; BEDDING, MATTRESSES, M...","FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPO..."
7319,1661874,2,950021000090,9.400110e+11,95,XX,"CHAPTER¬†95 - TOYS, GAMES AND SPORTS REQUISITES...","TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A..."
7362,1661917,2,960021000090,9.400110e+11,96,XX,CHAPTER¬†96 - MISCELLANEOUS MANUFACTURED ARTICLES,MISCELLANEOUS MANUFACTURED ARTICLES
7428,1661983,2,970021000090,9.700110e+11,97,XXI,"CHAPTER¬†97 - WORKS OF ART, COLLECTORS' PIECES ...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"